{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
  <h1>{% trans "Sign Up" %}</h1>

  <div>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
    You are about to use your {{ provider_name }} account to login to
    {{ site_name }}. As a final step, please complete the following form:
  {% endblocktrans %}</div>

  <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-field">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        
        {% if field.help_text %}
          <div>{{ field.help_text }}</div>
        {% endif %}

        {% if field.errors %}
          <div class="error-messages">
            {% for error in field.errors %}
              <div>{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>

{% endblock content %}
