{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="content-section">
    <div class="media">
      <img
        class="rounded-circle account-img"
        src="{{ user.profile.image.url }}"
      />
      <div class="media-body">
        <h2 class="account-heading">{{ user.profile.username }}</h2>
        <p class="text-secondary">{{ user.profile.email }}</p>
        <p> {{ edit_profile.username}}</p>
     
        
       
        
        <a href="{% url 'edit_profile' pk=user.pk %}">Edit Profile</a>
       
        
         
      </div>
    </div>
 
  </div>



{% endblock content %}