{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Post</title>
</head>
<body>
    <h1 class="card-title">Create New Post</h1>
    <div class="create-form">
    <form   method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="create-post" type="submit">Create Post</button>
       
       <p id="post-success"> seccess</p>
    </form>
    
    </div>

 
</body>
</html>  
{% endblock content %}
{% block extras %}
<script src="{% static 'js/create-post.js' %}"></script>
{% endblock %}