{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Create Post</title>
</head>
<body>
   
    <h1 class="card-title">Create New Post</h1>
  
    <div class="create-form">
        <div class="create-form">
            {% if form.is_valid %}
            <p class="create-success">Congratulations, your Post created successfully! You can see it <a href="{% url 'home' %}">Here</a>.</p>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p }}
               
    
                <button id="create-post" type="submit">Create Post</button>
       
               
              
          
                {% if form.errors %}
                    <p class="error" id="error-message">Please correct the errors below:</p>
                    <ul> 
                        {% for field in form %}
                        {% if field.errors %}
                                <li>
                                    {{ field.label }}: {{ field.errors|striptags }}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                         {% endif %}
                         </form> 
                         </div>
   
    
                      <script src="{% static 'js/create-post.js' %}"></script>
                      </body>
                       </html>
{% endblock content %}
{% block extras %}

{% endblock %}