{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div id="delete-post">
<h1>Confirm Delete</h1>
<p>Are you sure you want to delete the post "{{ post.title }}"?</p>

<p class = "note">Note: Your post will be deleted and you will not be able to access it anymore.</p>

<p>If you want to delete, press the Delete button</p>

<form method="POST" class="post">
    {% csrf_token %}
    <button type="submit" class="delete-post">Delete</button>
</form>
</div>

{% endblock content %}