<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   

    <title>Update Profile</title>
</head>
<body>   

    <h1>Update Profile</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"   
 value="{{ user.username }}">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{ user.email }}">

        <label for="profile_picture">Profile   
 Picture:</label>
        <input type="file" name="profile_picture" id="profile_picture">

        <button type="submit">Update Profile</button>
    </form>
</body>
</html>