{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Post</title>
</head>
<body>
    <h1 class="card-title">update post</h1>
    <div class="update-form">

    <form   method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button id="update-post" type="submit">Update</button>
       
      
    </form>
    
    </div>
    
 
</body>
</html>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/create-post.js' %}"></script>
{% endblock %}