{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 text-center  img-fluid " >
            <img class="img-fluid rounded-circle" src="{% static 'images/pp4 actity.jpg' %}" alt="About-Image">
        </div>
        <div class="col-12 col-md-6">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
          <!-- Updated on field goes in here -->
    
          <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    

</div>
{% endblock content %}